body
  {
  font-family: 'Josefin Slab', serif;
  }

  /*--TAB STUFF--*/

.tabs
  {
  width: 100%;
  display: inline-block;
  }
.tab-links li
  {
  margin: 0px 5px;
  float: left;
  list-style: none;
  }
.tab-links a
  {
  padding:9px 15px;
  display:inline-block;
  border: 1px solid gray;
  background:white;
  font-size:16px;
  font-weight:600;
  color:black;
  transition:all linear 0.15s;
  text-decoration: none;
  }
.tab-links a:hover
  {
  background:#dfdfdf;
  text-decoration:none;
  }
li.active a, li.active a:hover
  {
  background:white;
  }
.tab-content
  {
  padding:15px;
  background:white;
  }
.tab
  {
  display:none;
  clear:both;
  }

.tab.active
  {
  display:block;
  padding-top: 5px;
  }

#inventory-wrapper
{
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  height: 500px;
}
.item-box
{
  margin-left: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 200px;
  height: 100%;
}
#unequipped-box
{
  height: 90%;
}
#inventory {
  overflow-y: scroll;
}
  /*--SORTING STUFF--*/
.ui-tooltip {
    padding: 10px;
    background: white;
    width: 170px;
    border: 1px solid black;
    z-index: 1000;
  }
.sortable-inventory {
  padding-left: 0;
  min-height: 30px;
}
.sortable-inventory li{
  width: 90%;
  border: 1px solid black;
  padding: 5px;
  list-style: none;
  margin-top: 5px;
}
