<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="paperdoll.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Slab">
    <link rel="stylesheet" type="text/css" href="paperdoll.css">
    <title>Descension Paperdoll</title>
    <meta charset="utf-8">
    <meta name="author" content="Matthew Cardinal">
    <meta name="description" content="A paper doll system for Descension, the tabletop game.">
  </head>
  <body>
  {{{body}}}
  </body>
</html>
